<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <form method="POST" enctype="multipart/form-data" autocomplete="off" action="/upload" name="UploadImage">
            <input class="file-upload" type="file" name="myImage" dropzone="copy">
            <input class="btn" type="submit" value="Upload">
        </form>
        {% if val %}
            <p>Image has been uploaded</p>
        {% else %}
            <p>{{msg}}</p>
        {% endif %}
    </div>
</body>
</html>